## EDA Exploratory Data Analysis

## Descripción del Dataset del Titanic

### Diccionario de Datos
| Variable   | Definición                    | Clave                                     |
|------------|-------------------------------|-------------------------------------------|
| survival   | Supervivencia                 | 0 = No, 1 = Sí                            |
| pclass     | Clase del ticket              | 1 = 1ª clase, 2 = 2ª clase, 3 = 3ª clase  |
| sex        | Sexo                          |                                           |
| Age        | Edad en años                  |                                           |
| sibsp      | Nº de hermanos/esposos a bordo|                                           |
| parch      | Nº de padres/hijos a bordo    |                                           |
| ticket     | Número de ticket              |                                           |
| fare       | Tarifa del pasajero           |                                           |
| cabin      | Número de cabina              |                                           |
| embarked   | Puerto de embarque            | C = Cherburgo, Q = Queenstown, S = Southampton |

### Notas sobre las Variables
- **pclass**: Una aproximación al estatus socioeconómico (SES)
  - 1ª clase = Alta
  - 2ª clase = Media
  - 3ª clase = Baja
- **age**: 
  - Fraccional si es menor de 1 año.
  - Las edades estimadas están en el formato `xx.5`.
- **sibsp**: Define relaciones familiares como:
  - Hermano = hermano, hermana, hermanastro, hermanastra.
  - Cónyuge = esposo, esposa (se ignoran amantes y prometidos).
- **parch**: Define relaciones familiares como:
  - Padre/madre = madre, padre.
  - Hijo = hija, hijo, hijastra, hijastro.
  - Nota: Algunos niños viajaron únicamente con una niñera, por lo que `parch=0` en esos casos.

In [68]:
# importaciones 

import pandas as pd
import sys
sys.path.append('../src') 
from utils import columnas_a_minusculas,eliminar_columna

ImportError: cannot import name 'eliminar_columna' from 'utils' (c:\Users\dalarroy\OneDrive - NTT DATA EMEAL\Escritorio\Titanic_project\notebooks\../src\utils.py)

In [53]:
# importaciones 

import pandas as pd

# Importo CSV Train y Test
# Train
path_train = 'C:\\Users\\dalarroy\\OneDrive - NTT DATA EMEAL\\Escritorio\\Titanic_project\\data\\raw\\train.csv'
df_train = pd.read_csv(path_train)

# Test
path_test = 'C:\\Users\\dalarroy\\OneDrive - NTT DATA EMEAL\\Escritorio\\Titanic_project\\data\\raw\\test.csv'
df_test =pd.read_csv(path_test)

print(f'El df train es: \n {df_train.head(5)} \n El df test es: \n  {df_test.head(5)}')

# Renombro el df_train para que sea más facil trabajarlo
df = df_train

El df train es:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
 El df test es:
     PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [54]:
# Paso todas las columnas a minuscula
df = columnas_a_minusculas(df)

In [31]:
# print inicial
df.head(5)

,passengerid,survived,pclass,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [32]:
# Forma y estructura del df "(891, 12)"
df.shape

(891, 12)

In [ ]:
# Contar nulos
df.isna().sum()

passengerid    0.000000
survived       0.000000
pclass         0.000000
name           0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
ticket         0.000000
fare           0.000000
cabin          0.771044
embarked       0.002245
dtype: float64

In [41]:
# Ver que tan significativo es
df.isna().mean()

passengerid    0.000000
survived       0.000000
pclass         0.000000
name           0.000000
sex            0.000000
age            0.198653
sibsp          0.000000
parch          0.000000
ticket         0.000000
fare           0.000000
cabin          0.771044
embarked       0.002245
dtype: float64

In [62]:
# Elimino la columna cabin
df = eliminar_columna(df)

NameError: name 'eliminar_columna' is not defined

In [33]:
# Descripcion estadistica
df.describe()

,passengerid,survived,pclass,age,sibsp,parch,fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [37]:
# Definir las columnas deseadas (sin 'cabin' porque no es numérica)
columnas_deseadas = ['pclass', 'age', 'sibsp', 'parch', 'fare', 'survived']

# Filtrar el DataFrame con las columnas seleccionadas
df_deseado = df[columnas_deseadas]

# Agrupar por la columna 'survived' y calcular la media y mediana de las columnas numéricas
df_deseado.groupby('survived').agg(['mean', 'median'])

            pclass               age            sibsp            parch         \
              mean median       mean median      mean median      mean median
survived
0         2.531876    3.0  30.626179   28.0  0.553734    0.0  0.329690    0.0
1         1.950292    2.0  28.343690   28.0  0.473684    0.0  0.464912    0.0

               fare
               mean median
survived
0         22.117887   10.5
1         48.395408   26.0